# Data **structure**

### Theroy Question

Q1: What are data structures, and why are they important?

* Data structures are specialized formats for organizing, storing, and managing data efficiently. They are important because they help optimize algorithms, improve processing speed, and provide efficient data manipulation for various applications. Examples include arrays, lists, stacks, queues, and dictionaries.   


    

Q2: Explain the difference between mutable and immutable data types with examples.
* Mutable data types can be changed after creation. Example: Lists (list), Dictionaries (dict), Sets (set).
my_list = [1, 2, 3]
my_list.append(4)  # List is modified
Immutable data types cannot be changed after creation. Example: Tuples (tuple), Strings (str), Integers (int).
my_tuple = (1, 2, 3)
my_tuple[0] = 4  # Error: Tuples are immutable.

Q3: What are the main differences between lists and tuples in Python?
* Feature	List (list)	Tuple (tuple)
Mutability	Mutable	Immutable
Performance	Slower due to flexibility	Faster due to immutability
Syntax	Defined using []	Defined using ()
Usage	When data changes frequently	When data should remain constant.

Q4: Describe how dictionaries store data.
* Dictionaries store data as key-value pairs. They use a hash table internally to provide fast lookups, insertions, and deletions. Example:
my_dict = {"name": "Alice", "age": 25}
print(my_dict["name"])  # Output: Alice.

Q5: Why might you use a set instead of a list in Python?
* Sets are used when uniqueness is required, as they automatically remove duplicate values. They also provide faster membership checks (in operation) compared to lists.
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}.

Q6: What is a string in Python, and how is it different from a list?
* A string is a sequence of characters, whereas a list is a sequence of elements (which can be of different types). Strings are immutable, while lists are mutable.

s = "hello"
s[0] = "H"  # Error: Strings are immutable

l = ['h', 'e', 'l', 'l', 'o']
l[0] = 'H'  # Allowed: Lists are mutable.

Q7: How do tuples ensure data integrity in Python?
* Tuples are immutable, meaning their elements cannot be changed after creation. This ensures that critical data remains unaltered, preventing accidental modifications.

Q8: What is a hash table, and how does it relate to dictionaries in Python?
* A hash table is a data structure that stores key-value pairs using a hash function for quick lookups. Python dictionaries are implemented using hash tables, enabling O(1) average time complexity for retrieval.

Q9: Can lists contain different data types in Python?
* Yes, lists can store multiple data types. Example.
my_list = [1, "hello", 3.14, [5, 6]].

Q10: Explain why strings are immutable in Python.
* Strings are immutable to enhance security, simplify memory management, and improve performance by allowing Python to optimize memory allocation using string interning.

Q11: What advantages do dictionaries offer over lists for certain tasks?
* Dictionaries provide fast lookups using keys (O(1) complexity), whereas lists require linear searches (O(n)). They are preferable for scenarios requiring quick access to data using unique identifiers.

Q12: Describe a scenario where using a tuple would be preferable over a list.
* Tuples are preferable when storing fixed data, such as coordinates ((x, y, z)) or database records, where immutability ensures integrity.

Q13: How do sets handle duplicate values in Python?
* Sets automatically eliminate duplicate values upon insertion. Example:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}.

Q14: How does the “in” keyword work differently for lists and dictionaries?
* Lists: The in keyword checks if a value exists, requiring a linear search (O(n)).
Dictionaries: The in keyword checks if a key exists using a hash table (O(1) average complexity).

Q15: Can you modify the elements of a tuple? Explain why or why not.
* No, tuples are immutable, meaning elements cannot be modified after creation. Attempting to change an element results in a TypeError.

Q16: What is a nested dictionary, and give an example of its use case?
* A nested dictionary is a dictionary within a dictionary. Example:
students = {
    "Alice": {"age": 25, "grade": "A"},
    "Bob": {"age": 23, "grade": "B"}
}
print(students["Alice"]["grade"])  # Output: A
Use case: Storing hierarchical or structured data.

Q17: Describe the time complexity of accessing elements in a dictionary.
* The average time complexity for dictionary key lookups is O(1) due to hash table implementation. However, in worst-case scenarios (hash collisions), it can be O(n).

Q18: In what situations are lists preferred over dictionaries?
* Lists are preferred when order matters or when sequential access is needed, such as iterating over elements in a defined order.

Q19: Why are dictionaries considered unordered, and how does that affect data retrieval?
* Before Python 3.7, dictionaries were unordered because they used hash tables for storage. Since Python 3.7, dictionaries maintain insertion order but are still accessed using keys rather than indices.

Q20: Explain the difference between a list and a dictionary in terms of data retrieval.
* Lists: Retrieval is done using an index (O(1)) but searching for an element requires O(n).
Dictionaries: Retrieval is done using a key, which is faster (O(1)) due to hashing.

 ## **Practical Questions**

In [3]:
# DP Write a code to create a string with your name and print it
my_name = "John Doe"  # Replace with your name
print(my_name)

John Doe

In [4]:
# Write a code to find the length of the string "Hello World"
string_1 = "Hello World"
print(len(string_1))

11

In [5]:
#Write a code to slice the first 3 characters from the string "Python Programming"
string_2 = "Python Programming"
print(string_2[:3])

Pyt

In [6]:
# Write a code to convert the string "hello" to uppercase
string_3 = "hello"
print(string_3.upper())

HELLO

In [7]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
string_4 = "I like apple"
print(string_4.replace("apple", "orange"))

I like orange

In [8]:
#  Write a code to create a list with numbers 1 to 5 and print it
num_list = [1, 2, 3, 4, 5]
print(num_list)

[1, 2, 3, 4, 5]

In [9]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4]
num_list_2 = [1, 2, 3, 4]
num_list_2.append(10)
print(num_list_2)

[1, 2, 3, 4, 10]

In [10]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
num_list_3 = [1, 2, 3, 4, 5]
num_list_3.remove(3)
print(num_list_3)

[1, 2, 4, 5]

In [11]:
#  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

In [12]:
#  Write a code to reverse the list [10, 20, 30, 40, 50]
num_list_4 = [10, 20, 30, 40, 50]
num_list_4.reverse()
print(num_list_4)

[50, 40, 30, 20, 10]

In [13]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [14]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: 'blue'

blue

In [15]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))  # Output: 5

5

In [16]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))  # Output: 1

1

In [17]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)  # Output: False

False

In [18]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [19]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
num_set = {1, 2, 3, 4, 5}
num_set.clear()
print(num_set)  # Output: set()

set()

In [20]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num_set_2 = {1, 2, 3, 4}
num_set_2.remove(4)
print(num_set_2)  # Output: {1, 2, 3}

{1, 2, 3}

In [21]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [22]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set3 = {1, 2, 3}
set4 = {2, 3, 4}
print(set3.intersection(set4))  # Output: {2, 3}

{2, 3}

In [23]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [24]:

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person_2 = {'name': 'John', 'age': 25}
person_2["country"] = "USA"
print(person_2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person_3 = {'name': 'Alice', 'age': 30}
print(person_3["name"])

Alice

In [26]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person_4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person_4["age"]
print(person_4)

{'name': 'Bob', 'city': 'New York'}

In [27]:

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person_5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in person_5)

True

In [28]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {"fruit": "apple", "color": "red"}
print(my_list, my_tuple, my_dict)

[1, 2, 3, 4, 5] (10, 20, 30) {'fruit': 'apple', 'color': 'red'}

In [39]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_numbers = random.sample(range(1,100000),1)
random_numbers.sort()
print(random_numbers)

[28419]

In [30]:
# 28. Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])  # Output: "date"

date

In [31]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}  # Merging dictionaries
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [32]:
# 30. Write a code to convert a list of strings into a set.
string_list_2 = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list_2)
print(string_set)

{'apple', 'banana', 'cherry'}